@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.foxImage {
    width: 300px;
    margin: 0 auto;
}
button {
    background-color: rgba(79, 70, 229, 0.65);
    color: white;
    padding: 7px;
    border-radius: 14px;
    margin-top: 13px;
}